h1 {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: 44%;
    top: 20%;
    font-size: xxx-large;
}

.logo {
    height: 150px;
    width: 180px;
    position: absolute;
    left: 20%;
    top: -260%;
}

#quiz-container {
    position: absolute;
    margin-left: 50%;
    margin-top: 40%;
    background-color: beige;
}

#question {
    font-size: x-large;
    width: 262px;
    position: absolute;
    margin-top: -80%;
    margin-left: -150%;
}
