#container {
    position: absolute;
    height: 450px;
    width: 600px;
    background-color: rgb(158, 158, 158);
    border-radius: 10%;
    margin-left: 650px;
}

#heading {
    position: absolute;
    margin-left: 800px;
    font-size: xxx-large;
    font-family: "Cabin", sans-serif;
}

#newQuestionButton {
    margin-left: 900px;
    margin-top: 350px;
    position: absolute;
    font-family: "Cabin", sans-serif;
}

#Question {
    margin-left: 850px;
    position: absolute;
    margin-top: 100px;
    font-family: "Cabin", sans-serif;
}

#SubmitButton {
    position: absolute;
    margin-left: 65px;
    margin-top: 30px;
    font-family: "Cabin", sans-serif;
}