body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Cabin;
}

#container {
    width: 1000px;
    background-color: gray;
    padding: 15px;
    border-radius: 10px;
    max-width: 80%;
}

.btn-container {
    display: grid;
    gap: 5px;
    margin: 10px 0;
}

.btn {
    border-radius: 10px;
}

.btn:hover {
    border-color: rgb(255, 255, 255);
    background-color: rgb(192, 192, 192);
}

#start-btn, #next-btn {
    padding: 10px 10px;
    font-size: xx-large;
    font-weight: bolder;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}